body{
	background: #0e0e0e;
	color: white;
}

.text-title{
	color: black;
	border: none;
	border-radius: 5px;
	background: none;
	padding-left: 16px;
	padding-right: 16px;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	font-weight: lighter;
}

.text-open{
	display: block;	
	border: none;
	border-radius: 5px;
	background: none;
	padding-left: 16px;
	padding-right: 16px;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.btn-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;	
	
}

.btn{
	width: 350px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border:none;
	cursor: pointer;
	background: none;
}



.input-search{
	display: block;
	width: 400px;
	height:24;
	margin-top: 10px;
	margin-left:auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid black;
	border-radius: 20px;
	cursor: pointer;
	background: grey;

}

*{
	box-sizing: border-box;
}
.batman {
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	padding: 10px 20px; 
}

.batman-movie{
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 250px;
	padding: 6px 6px;
	margin:10px;
}

.batman-movie:hover, .animelist-anime:hover, .read-book:hover{
	border:1px solid #777;
}

.batman-movie img{
	width:100%;
	height:auto;
}

.read {
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
}

.read-book{
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 250px;
	padding: 6px 6px;
	margin:10px;
}

.read-book img {
	width:100%;
	height:auto;
}

.animelist {
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
}

.animelist-anime{
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 250px;
	padding: 6px 6px;
	margin:10px;
}

.animelist-anime img{
	width:100%;
	height:auto;
}

a{
	color:white;
	text-decoration:none;
}

ol{
	list-style-type: none;
	margin:0;
	padding:0;
}